.folder{
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(218 220 224);
    width: 200px;
    border-radius: 6px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    font-weight: 500;
    user-select: none;
    background: #9fc5ea;
}
.folder:hover{
    background: #e7e7e7;
}

.folderIcon{
    margin-right: 10px;
    font-size: 25px;
    vertical-align: sub;
}

.file{
    display: inline-block;
    padding: 10px;
    border: 1px solid rgb(218 220 224);
    width: 200px;
    border-radius: 6px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    font-weight: 500;
    user-select: none;
    text-align: center;
    background: white;
}


.file img {
    width: 175px;
    height: 200px;
    object-fit: cover;
    display: inline-block;
}

.file span {
    width: 175px;
    height: 200px;
    object-fit: cover;
}
.file:hover{
    background: #e7e7e7;
}
.file p {
    margin-bottom: 0;
    margin-top: 10px;
}

.fileIcon{
    margin-right: 10px;
    font-size: 80px;
    font-weight: normal;
    vertical-align: sub;
    padding-top: 50px;
}

.imageSkeleton{
    padding: 23px 0;
}

.imageSkeleton div {
    width: 130px !important;
    height: 154px !important;
}